In [ ]:
import pandas as pd
import numpy as np
# https://towardsdatascience.com/scraping-table-data-from-websites-using-a-single-line-in-python-ba898d54e2bc
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_html.html

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [ ]:
for i in range(1,271,1):
  URL="http://www.indianspices.com/marketing/price/domestic/daily-price-small.html?page={}".format(i)
  table = pd.read_html(URL,match = ".+")
  df = table[1]
  df.columns = df.iloc[0]
  df = df[1:]
  tables.append(df)
tables[0]

0  Sno Date of Auction  ... MaxPrice (Rs./Kg) Avg.Price (Rs./Kg)
1    1     06-Jan-2021  ...           2020.00            1653.78
2    2     06-Jan-2021  ...           2213.00            1691.46
3    3     05-Jan-2021  ...           2092.00            1626.13
4    4     05-Jan-2021  ...           1962.00            1586.01
5    5     04-Jan-2021  ...           2106.00            1660.35
6    6     04-Jan-2021  ...           1999.00            1583.70
7    7     02-Jan-2021  ...           2100.00            1685.68
8    8     02-Jan-2021  ...           2046.00            1708.62
9    9     01-Jan-2021  ...           2304.00            1710.89
10  10     31-Dec-2020  ...           2197.00            1688.35

[10 rows x 8 columns]

In [ ]:
#tables

In [ ]:
result_df = pd.concat(tables,ignore_index=True)

In [ ]:
result_df.shape
#result_df.head

(2691, 8)

In [ ]:
result_df.columns

Index(['Sno', 'Date of Auction', 'Auctioneer', 'No.of Lots',
       'Total Qty Arrived (Kgs)', 'Qty Sold (Kgs)', 'MaxPrice (Rs./Kg)',
       'Avg.Price (Rs./Kg)'],
      dtype='object', name=0)

In [ ]:
#https://towardsdatascience.com/how-to-export-pandas-dataframe-to-csv-2038e43d9c03
result_df.to_csv("cardamom_auction_data.csv",index=False,encoding='utf-8' )

In [ ]:
dff=pd.read_csv("cardamom_auction_data.csv")

In [ ]:
dff.iloc[100]

Sno                                                                101
Date of Auction                                            04-Nov-2020
Auctioneer                 Header Systems (India) Limited, Nedumkandam
No.of Lots                                                         298
Total Qty Arrived (Kgs)                                        84892.4
Qty Sold (Kgs)                                                 74611.1
MaxPrice (Rs./Kg)                                                 1582
Avg.Price (Rs./Kg)                                             1317.63
Name: 100, dtype: object

In [ ]:
dff.shape

(2691, 8)